.container {
  display: flex;
  align-items: center;

  p {
    color: var(--gray-500);
    font-size: 1rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      vertical-align: middle;
    }

    & + p {
      margin-left: 1.5rem;
    }
  }
}
