.container {
  max-width: 100%;
  margin: 0 auto;

  img {
    width: 100%;
  }

  h1 {
    font-size: 3.42rem;
    font-weight: 700;
  }

  .content {
    max-width: 756px;
    padding: 0 2rem;
    margin: 5rem auto 0;

    .info {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;

      p {
        color: var(--gray-500);
        font-size: 1rem;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
          vertical-align: middle;
        }

        & + p {
          margin-left: 1.5rem;
        }
      }
    }

    section {
      margin: 3rem 0;

      h2 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.5rem;
        margin-bottom: 3rem;
      }

      p {
        font-size: 1.2857rem;
        line-height: 1.8rem;
        text-align: justify;

        & + p {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
